#root {
  text-align: center;
}

.App {
  margin-bottom: 20px;
}

h1 {
  text-align: left;
}

.containerList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.titleCard {
  font-size: large !important;
}

.navHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (min-width: 0px) and (max-width: 600px) {
  .navHeaderContainer{
    flex-direction: column;
    align-items: center;
  }

  .containerList {
    grid-template-columns: repeat(1, 1fr);
  }

  Button {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 915px) {
  .containerList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  .containerList {
    grid-template-columns: repeat(4, 1fr);
  }
}